@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .presentation a {
    @apply text-palette-4
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.link {
  color: #9A4444;
}

.top-25 {
  position: absolute;
  top: 25%;
  right: 40%;
}
